<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12 justify-content-around" style="margin: 4rem 0 4rem 0;">
            <h1 class="header-bar">
                Education
             </h1>
            <div class="card" >
                <div class="card-body">
                 
                  <div class="card-title">
                    <h5 class="title">
                        Lambton College</h5>
                    
                        <img [src]="lambtonLogo" alt="lpu" class="lpulogo">

                </div>
                  <div class="card-subtitle">
                    <h6 class="sub-title">
                        <i class="fa fa-graduation-cap"></i>
                        Post Graduation in Full Stack Software Development</h6>
                    <h6 class="sub-title" style="margin-left:auto;">September 2022- April 2024</h6>
                  </div>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">
                  </h6> -->
                  <p class="card-text">
                    <i class="fa fa-trophy"></i>
                    Dean's Award for excellent performance for Fall term 2022
                </p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="title">
                            Lovely Professional University</h5>
                        
                            <img [src]="lpuLogo" alt="lpu" class="lpulogo">

                    </div>
                  
                  <div class="card-subtitle">
                    <h6 class="sub-title">
                        <i class="fa fa-graduation-cap"></i>
                        Bachelor's in Computer Science
                    
                    </h6>
                    <h6 class="sub-title" style="margin-left:auto;">August 2016 - June 2020</h6>
                  </div>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">
                  </h6> -->
                  <!-- <p class="card-text">
                    <i class="fa fa-trophy"></i>
                    Dean's Award for excellent performance for Fall term 2022
                </p> -->
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                 
                  <div class="card-title">
                    <h5 class="title">
                        ST College of Nursing and Medical Science</h5>
                      <img [src]="stLogo" alt="lpu"
                      class="stlogo">

                </div>
                  <div class="card-subtitle">
                    <h6 class="sub-title">
                        <i class="fa fa-graduation-cap"></i>
                        12 <sup>th</sup> Grade</h6>
                    <h6 class="sub-title" style="margin-left:auto;">April 2016</h6>
                  </div>
                 
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                 
                  <div class="card-title">
                    <h5 class="title">
                        St Joseph's Convent School</h5>
                      <img [src]="stjs" alt="lpu"
                      class="lpulogo">

                </div>
                  <div class="card-subtitle">
                    <h6 class="sub-title">
                        <i class="fa fa-graduation-cap"></i>
                        10 <sup>th</sup> Grade</h6>
                    <h6 class="sub-title" style="margin-left:auto;">April 2014</h6>
                  </div>
                 
                </div>
              </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>
</div>