<footer class="page-footer bg-dark"  >

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-item" id="top-button">
          <a (click)="takeToTop()" 
          type="button"
           class="buttontop">
            <span class="fa fa-angle-double-up spanarrow fa-3x">
            </span>
          </a>
        </li>
        <br>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/paras.malhotra.5437" type="button" class="button fb">
            <span class="fa fa-envelope fa-2x spin"></span>
          </a>
        </li>
  
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/parasmalhotra522/" type="button" class="button fb">
              <span class="fa fa-linkedin fa-2x spin"></span>
            </a>
  
  
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/parasmalhotra522" type="button" class="button fb">
            <span class="fa fa-github fa-2x spin"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/paras3883/" type="button" class="button fb">
            <span class="fa fa-instagram fa-2x spin"></span>
          </a>
        </li>
       
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© All Copyrights are reserved by Paras Malhotra
  
    </div>
    <!-- Copyright -->
  
  </footer>