$fontColor:#FF7F50;
.navbar {
    color:#fff;
    display:flex;
    padding:2rem;
    height:7rem;

    .navbar-brand {
        font-family: 'Allura', cursive;
        font-size: 4rem;
        padding:2rem;
        color:#fff;
    }
    ul {
        .nav-item {
            text-align: center;
            margin:1rem;
            .nav-link {
                color: coral;
                border:1px solid coral !important;
                border-radius: 10px 0 10px;
                background: #343a40;
                padding: 8px 20px;
                
            &:hover{
                color:#fff;
                background:coral;
                border:coral;
            }
            
         
            }
            .active {
                color:#fff;
                background:coral;
                border:coral; 
            }

        }
    }

  
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size:2rem !important;
        // font-size: 4rem;
        padding: 0rem !important;
        }
    
        .navbar-collapsing {
            // background-color:#FF7F50;
            margin-bottom: 12rem;
            padding-bottom:1rem;
        }
        .navbar-toggler {
            // visibility: none;
            // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            color: #fff;
              background-color:#fff
        }
}
@media screen and (max-width: 600px) {
    .navbar-brand {
    font-size:2rem !important;
    // font-size: 4rem;
    padding: 0rem !important;
    }

    .navbar-collapsing {
        // background-color:#FF7F50;
        margin-bottom: 12rem;
        padding-bottom:1rem;
    }
    .navbar-toggler {
        display: none !important;
        // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        // color: #fff;
        //   background-color:#fff
    }
    .navbar-toggler-icon {
        display: none !important;
    } 

  }