<div class="container-fluid" style="min-height:100%">
<div class="row contact-component">
    <div class="col-md-6 col-sm-12 col-lg-6">
       <a class="card" href="mailto:parasmalhotra522@gmail.com">
        <div class="text-center text">
            <i class="fa fa-at"></i>
            <p class="mail">Write to me</p>
            <p  class="fw-normal fs-3 mail">
                parasmalhotra522@gmail.com</p>
        </div>
       </a>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6">
       <div class="profile-section">
            <h2 class="lets-connect">Let's Connect !</h2>
            <div class="social">
                <a 
                href="https://www.linkedin.com/in/parasmalhotra522/"
                target="_blank">
                
                <div  class="contacts">
                        <i  class="fa fa-linkedin"></i>
                        <p  class="pt-3 mail fs-5">Paras Malhotra</p>
                    </div>
                </a>
                <div class="social">
                    <a 
                    target="_blank">
                        <div  class="contacts">
                            <i  class="fa fa-phone"></i>
                            <p  class="pt-3 mail fs-5">+1 (519) 209 7923</p>
                        </div>
                    </a>
                   

                    <a href="https://github.com/parasmalhotra522"
                    target="_blank">
                        <div  class="contacts">
                            <i  class="fa fa-github"></i>
                            <p  class="pt-3 mail fs-5">parasmalhotra522</p>
                        </div>
                    </a>


                    <a href="https://www.instagram.com/paras3883/"
                    target="_blank">
                        <div  class="contacts">
                            <i  class="fa fa-instagram"></i>
                            <p  class="pt-3 mail fs-5">paras3883</p>
                        </div>
                    </a>

                   
                </div>

                
              
            </div>

            
       </div>
    </div>
</div>
</div>