<div class="container-fluid">
<div class="row skills-component">
    <h1 class="header-bar">
        SKILLS
     </h1>
    <div class="col-md-4 skill-box" *ngFor="let skill of skills">
        <img [src]="skill.url" class="skill-gif" [alt]="skill.title">
    </div>


    <!-- <div class="parent-skill" *ngFor="let skill of skills">
        <div class="skill">
            <div class="progress" data-progress="skill.progress">
                <span class="progress-number">0%</span>
            </div>

        </div>
        <span class="title">{{skill.title}}</span>
    </div> -->
</div>
</div>