$fontColor:#FF7F50;;
$fontFamily:'Montserrat', sans-serif;

           
.home-component {
    background-color: #343a40;
    
    padding:5rem;

    article {
        color:#fff;
        .intro-line {
            font-family: $fontFamily;
            font-weight: 600;
            font-size:3rem;
        }
        .body-lines {
            font-family: $fontFamily;
            font-weight: 400;
            font-size:1rem;
            margin-top:1rem;
            letter-spacing: .2rem;
        .body-specific {
            color:$fontColor;
        }
        
        }
    }

    .image-container {
        
        height:auto;
        width:max-content;

            .my-image {
                max-width: 100%;  /* Ensures image scales down to fit its container */
                height: auto;     /* Maintains the aspect ratio */
                object-fit: cover; /* Ensures the image covers the area while maintaining its aspect ratio */
                width: 28rem;     /* Set a specific width */
                height: 28rem;    /* Set a specific height */
                border:1px solid #fff;
                }
    
        // .my-image {
        //     border:1px solid #fff;
        //     height: 20rem;
        //     width: 22rem;

        
            
        // }
    }
   
}

.recommendations-component {
    background-color: #343a40;
    .vertical-line {
        border-left: 6px solid #fff;
        height: 31rem;
    }
    
    .header-bar{
        text-align: center;
        font-size: 42px;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-family:$fontFamily;
        color:#fff;
        cursor:pointer; 
        text-decoration: none;
        background-image: linear-gradient(351deg, rgba(218,218,224,1) 0%, rgba(249,249,255,1) 35%, rgba(198,204,205,1) 100%);
        // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size:5% 4px;
        border-radius:53px;
        transition:background-size 1s ease-in-out;
        padding-bottom:.7rem;

    }
    
    .header-bar:hover{
        background-size: 20% 4px;
        transition:background-size 1s ease-in-out;
       
    }

    .recommendation-box {
        
        .recommendation-style {
            margin:2rem 0 2rem 0;
            width:100%;
            height:auto;
            max-width: fit-content;
            // border-radius: 10px 0 10px;
            border-radius:15px 50px 30px 5px; 
        }
    }
    
}

.mobile-only{
    display: none;
}
@media (max-width: 699px) {
    .home-component{
        padding:0 !important;
        // overflow: hidden;
        .intro-line {
            line-height: 1em;
            font-size:1.9rem !important;
        }
        .image-container {
            padding-top:1em;
            padding-bottom:1em;
            overflow: hidden;
        // .my-image{
         
        //     // width:fit-content;
        //     // height: auto;
        // }
       

    }
        padding-top:12rem;
    }

    .mobile-only {
        display:block;
    }

}
.button {
    background-color:#FF7F50; ; 
    border: none;
    color: #fff;
    padding: 16px 26px 16px 26px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    justify-content: center;
    align-items: center;
    margin:4% auto 0% 30%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: $fontFamily;
  }
  @media screen and (max-width:480px){
   .button {
        margin:4% auto 4% 30%;
    }
  }
 .button:hover{
    color:#fff;
   background: #FF7F50;
   transform:scale(1.1,1.1);
   box-shadow: 0px 20px 60px rgba(148, 99, 74, 0.8);

    transition-property: 2s all ease-in-out;
    transition-delay: .1s;
}